:root{
    --primaryBlue: #38629C;
    --secondaryBlue: #0E9BD4;
    --terciaryBlue: #89C1DA;
    --neutralBlue: #0A6288;
    --gray: #CDCDCD;
    --text-input-field: #FFFFFF;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 16px;
    --md: 18px;
    --bg: 20px;
}