body{
    /*background: linear-gradient(to right, var(--primaryBlue), var(--secondaryBlue));*/
  margin: 0;
  font-family: 'Roboto',sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

body > footer {
  margin-top: auto;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0E9BD4;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #38629C;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #38629C;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }