@import 'vars';

.title{
    background-color: var(--lightBlue);
    padding-left: 150px;
}

.title-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 3vw;
}

.title-icon{
    width: 50px;
}

.title-txt{
    padding-left: 0.5vw;
}

.updated-txt{
    padding-top: 22px;
    padding-left: 0.2vw;
    color: var(--gray);
}