@import 'vars';

.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 500px;
}

.botoncito-margen{
    margin-top: 40px;
}
